<h1>Eat-Da-Burger!</h1>

<h2>Bugers in our DB</h2>

<ul>
    {{#each burgers}}
        {{>burgers/burger-block devoured=false}}
    {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">
    <div class="form-group">
        <label for="bu">Burger Name:</label>
        <input type="text" id="ca" name="name">
    </div>

<button type="submit">Add Burger</button>
</form>