li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}

.burger {
  text-align: center;
}
.jumbotron {
  text-align: center;
  background-image: url("../img/burger.jpeg");
  color: black;
}